<h1>Mis Productos</h1>
<div class="profile"></div>
<div>
    {{#each Productos}}
    <div class="card">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <h3>{{price}}</h3>
        <p>{{stock}}</p>
        <button> Agregar Producto </button>
    </div>
    {{/each}}
</div>

{{#if hasNextPage}}
<a href="/products?page={{nextPage}}"> Siguiente </a>
{{/if}}
{{#if hasPrevPage}}
<a href="/products?page={{prevPage}}"> Anterior </a>
{{/if}}

<p>Pagina {{currentPage}} de {{totalPages}} </p>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/index.js"></script>